# How have box office returns been changing over time?

In [1]:
# Also which movie ratings produce the highest box office revenue?

## Data Cleaning opus_movie_data_df

In [2]:
import pandas as pd
import numpy as np
import requests

In [3]:
opus_movie_data_df = pd.read_csv('OpusMovieData.csv')
print(len(opus_movie_data_df))
opus_movie_data_df.head()
# Production year between 2006 and 2018.
# Figures for domestic or international box office.
# Production budget greater or equal to $10 million

1936

,movie_name,production_year,movie_odid,production_budget,domestic_box_office,international_box_office,rating,creative_type,source,production_method,genre,sequel,running_time
0,Madea's Family Reunion,2006,8220100,10000000,63257940,62581,PG-13,Contemporary Fiction,Based on Play,Live Action,Comedy,1.0,NaN
1,Krrish,2006,58540100,10000000,1430721,31000000,Not Rated,Science Fiction,Original Screenplay,Live Action,Action,1.0,NaN
2,End of the Spear,2006,34620100,10000000,11748661,175380,PG-13,Historical Fiction,Original Screenplay,Live Action,Drama,0.0,NaN
3,A Prairie Home Companion,2006,24910100,10000000,20342852,6373339,PG-13,Contemporary Fiction,Original Screenplay,Live Action,Comedy,0.0,105.0
4,Saw III,2006,5840100,10000000,80238724,83638091,R,Contemporary Fiction,Original Screenplay,Live Action,Horror,1.0,NaN

In [15]:
# Check for duplicates - None
opus_movie_data_df.duplicated('movie_odid').sum()

0

In [6]:
# Checking for columns with null values
opus_movie_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936 entries, 0 to 1935
Data columns (total 13 columns):
movie_name                  1936 non-null object
production_year             1936 non-null int64
movie_odid                  1936 non-null int64
production_budget           1936 non-null int64
domestic_box_office         1936 non-null int64
international_box_office    1936 non-null int64
rating                      1913 non-null object
creative_type               1923 non-null object
source                      1915 non-null object
production_method           1925 non-null object
genre                       1926 non-null object
sequel                      1934 non-null float64
running_time                1822 non-null float64
dtypes: float64(2), int64(5), object(6)
memory usage: 196.8+ KB

In [7]:
# Apparently there are 23 null values in ratings. Set them to unknown.
opus_movie_data_df['rating'].value_counts()

PG-13        777
R            748
PG           311
Not Rated     40
G             36
NC-17          1
Name: rating, dtype: int64

In [8]:
opus_movie_data_df.rating.fillna('Unknown', inplace=True)
opus_movie_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936 entries, 0 to 1935
Data columns (total 13 columns):
movie_name                  1936 non-null object
production_year             1936 non-null int64
movie_odid                  1936 non-null int64
production_budget           1936 non-null int64
domestic_box_office         1936 non-null int64
international_box_office    1936 non-null int64
rating                      1936 non-null object
creative_type               1923 non-null object
source                      1915 non-null object
production_method           1925 non-null object
genre                       1926 non-null object
sequel                      1934 non-null float64
running_time                1822 non-null float64
dtypes: float64(2), int64(5), object(6)
memory usage: 196.8+ KB

In [9]:
# Although I am not planning on using creative_type, source, production method or genre, lets replace those nulls too.

opus_movie_data_df.creative_type.fillna('Unknown', inplace=True)
opus_movie_data_df.source.fillna('Unknown', inplace=True)
opus_movie_data_df.production_method.fillna('Unknown', inplace=True)
opus_movie_data_df.genre.fillna('Unknown', inplace=True)
opus_movie_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936 entries, 0 to 1935
Data columns (total 13 columns):
movie_name                  1936 non-null object
production_year             1936 non-null int64
movie_odid                  1936 non-null int64
production_budget           1936 non-null int64
domestic_box_office         1936 non-null int64
international_box_office    1936 non-null int64
rating                      1936 non-null object
creative_type               1936 non-null object
source                      1936 non-null object
production_method           1936 non-null object
genre                       1936 non-null object
sequel                      1934 non-null float64
running_time                1822 non-null float64
dtypes: float64(2), int64(5), object(6)
memory usage: 196.8+ KB

In [11]:
# Two records don't have a value for sequel.  I think it is safe to set them to 0 like most of the other movies
print(opus_movie_data_df.sequel.value_counts())
opus_movie_data_df[opus_movie_data_df.sequel.isna()]

0.0    1639
1.0     295
Name: sequel, dtype: int64

,movie_name,production_year,movie_odid,production_budget,domestic_box_office,international_box_office,rating,creative_type,source,production_method,genre,sequel,running_time
1898,PMC: deo beong-keo,2018,390770100,10300000,0,12478635,Unknown,Contemporary Fiction,Original Screenplay,Live Action,Action,NaN,119.0
1918,The Kid Who Would Be King,2018,288100100,59000000,16674053,9400000,PG,Fantasy,Original Screenplay,Live Action,Adventure,NaN,132.0

In [12]:
opus_movie_data_df.sequel.fillna(0.0, inplace=True)
opus_movie_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936 entries, 0 to 1935
Data columns (total 13 columns):
movie_name                  1936 non-null object
production_year             1936 non-null int64
movie_odid                  1936 non-null int64
production_budget           1936 non-null int64
domestic_box_office         1936 non-null int64
international_box_office    1936 non-null int64
rating                      1936 non-null object
creative_type               1936 non-null object
source                      1936 non-null object
production_method           1936 non-null object
genre                       1936 non-null object
sequel                      1936 non-null float64
running_time                1822 non-null float64
dtypes: float64(2), int64(5), object(6)
memory usage: 196.8+ KB

In [16]:
# 114 records without a running time.  I don't plan to use it so I will leave it rather than put in an arbitrary value.
print(opus_movie_data_df.running_time.value_counts())
opus_movie_data_df[opus_movie_data_df.running_time.isna()]

110.0    67
100.0    64
105.0    61
91.0     52
97.0     48
         ..
69.0      1
191.0     1
169.0     1
172.0     1
159.0     1
Name: running_time, Length: 95, dtype: int64

,movie_name,production_year,movie_odid,production_budget,domestic_box_office,international_box_office,rating,creative_type,source,production_method,genre,sequel,running_time
0,Madea's Family Reunion,2006,8220100,10000000,63257940,62581,PG-13,Contemporary Fiction,Based on Play,Live Action,Comedy,1.0,NaN
1,Krrish,2006,58540100,10000000,1430721,31000000,Not Rated,Science Fiction,Original Screenplay,Live Action,Action,1.0,NaN
2,End of the Spear,2006,34620100,10000000,11748661,175380,PG-13,Historical Fiction,Original Screenplay,Live Action,Drama,0.0,NaN
4,Saw III,2006,5840100,10000000,80238724,83638091,R,Contemporary Fiction,Original Screenplay,Live Action,Horror,1.0,NaN
6,Edmond,2006,78520100,10000000,131719,110000,R,Contemporary Fiction,Based on Play,Live Action,Black Comedy,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
640,Outlander,2009,76700100,50000000,166003,1084614,R,Science Fiction,Original Screenplay,Live Action,Adventure,0.0,NaN
663,Agora,2009,132890100,70000000,619423,38372869,R,Historical Fiction,Original Screenplay,Live Action,Drama,0.0,NaN
721,The Killer Inside Me,2010,138570100,13000000,217277,3400000,R,Unknown,Unknown,Live Action,Drama,0.0,NaN
781,Sammy's avonturen: De geheime doorgang,2010,139890100,25000000,0,71594792,PG,Kids Fiction,Original Screenplay,Digital Animation,Adventure,0.0,NaN
849,Arthur and the War of Two Worlds,2010,122310100,45500000,347136,35833688,PG,Fantasy,Based on Fiction Book/Short Story,Animation/Live Action,Adventure,0.0,NaN

In [17]:
# create feature of world_wide_box_office
opus_movie_data_df['world_wide_box_office'] = opus_movie_data_df['domestic_box_office'] + opus_movie_data_df['international_box_office']
opus_movie_data_df.head()

,movie_name,production_year,movie_odid,production_budget,domestic_box_office,international_box_office,rating,creative_type,source,production_method,genre,sequel,running_time,world_wide_box_office
0,Madea's Family Reunion,2006,8220100,10000000,63257940,62581,PG-13,Contemporary Fiction,Based on Play,Live Action,Comedy,1.0,NaN,63320521
1,Krrish,2006,58540100,10000000,1430721,31000000,Not Rated,Science Fiction,Original Screenplay,Live Action,Action,1.0,NaN,32430721
2,End of the Spear,2006,34620100,10000000,11748661,175380,PG-13,Historical Fiction,Original Screenplay,Live Action,Drama,0.0,NaN,11924041
3,A Prairie Home Companion,2006,24910100,10000000,20342852,6373339,PG-13,Contemporary Fiction,Original Screenplay,Live Action,Comedy,0.0,105.0,26716191
4,Saw III,2006,5840100,10000000,80238724,83638091,R,Contemporary Fiction,Original Screenplay,Live Action,Horror,1.0,NaN,163876815

**Data cleaning details:**

* Checked for duplicates.
* Set 23 null values in ratings to unknown.
* Set 13 null values in creative_type to unknown.
* Set 21 null values in source to unknown.
* Set 11 null values in production_method to unknown.
* Set 10 null values in genre to unknown.
* Set 2 null values in sequel to 0.0
* Add column for world wide box office value equal to domestic plus international.

In [18]:
# I think the data is clean now and ready for some analysis.  Let's save it to a .csv file and then read it back in.

opus_movie_data_df.to_csv('cleanedData/clean_opus_movie_data_df.csv')

clean_opus_movie_data_df = pd.read_csv('cleanedData/clean_opus_movie_data_df.csv',index_col=[0])
print(len(clean_opus_movie_data_df))
clean_opus_movie_data_df.head()

1936

,movie_name,production_year,movie_odid,production_budget,domestic_box_office,international_box_office,rating,creative_type,source,production_method,genre,sequel,running_time,world_wide_box_office
0,Madea's Family Reunion,2006,8220100,10000000,63257940,62581,PG-13,Contemporary Fiction,Based on Play,Live Action,Comedy,1.0,NaN,63320521
1,Krrish,2006,58540100,10000000,1430721,31000000,Not Rated,Science Fiction,Original Screenplay,Live Action,Action,1.0,NaN,32430721
2,End of the Spear,2006,34620100,10000000,11748661,175380,PG-13,Historical Fiction,Original Screenplay,Live Action,Drama,0.0,NaN,11924041
3,A Prairie Home Companion,2006,24910100,10000000,20342852,6373339,PG-13,Contemporary Fiction,Original Screenplay,Live Action,Comedy,0.0,105.0,26716191
4,Saw III,2006,5840100,10000000,80238724,83638091,R,Contemporary Fiction,Original Screenplay,Live Action,Horror,1.0,NaN,163876815

## Data Analysis and Visualization

In [19]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline