# Which genres are the most popular?

In [ ]:
# tmdb popularity factors 
# Number of votes for the day
# Number of views for the day
# Number of users who marked it as a "favourite" for the day
# Number of users who added it to their "watchlist" for the day
# Release date
# Number of total votes
# Previous days score

## Data Cleaning tmdb_movies_df

In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
tmdb_movies_df = pd.read_csv('zippedData/tmdb.movies.csv.gz')
print(len(tmdb_movies_df))
tmdb_movies_df.head()

26517

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [5]:
tmdb_movies_df.genre_ids.value_counts()

[99]                      3700
[]                        2479
[18]                      2268
[35]                      1660
[27]                      1145
                          ...
[12, 28, 18]                 1
[27, 18, 53, 10749]          1
[28, 14, 27, 18]             1
[35, 10751, 14, 10402]       1
[12, 14, 28, 37, 53]         1
Name: genre_ids, Length: 2477, dtype: int64

In [6]:
tmdb_movies_df.iloc[517:518]

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
517,517,[],31059,ru,Наша Russia: Яйца судьбы,3.867,2010-01-21,Nasha Russia: Yaytsa sudby,4.3,25

In [7]:
tmdb_movies_df.loc[tmdb_movies_df['genre_ids'] == tmdb_movies_df.genre_ids.iloc[517],'genre_ids'] = ['0']

In [8]:
genre_dict = {"genres":[{"id":28,"name":"Action"},{"id":12,"name":"Adventure"},{"id":16,"name":"Animation"},{"id":35,"name":"Comedy"},{"id":80,"name":"Crime"},{"id":99,"name":"Documentary"},{"id":18,"name":"Drama"},{"id":10751,"name":"Family"},{"id":14,"name":"Fantasy"},{"id":36,"name":"History"},{"id":27,"name":"Horror"},{"id":10402,"name":"Music"},{"id":9648,"name":"Mystery"},{"id":10749,"name":"Romance"},{"id":878,"name":"Science Fiction"},{"id":10770,"name":"TV Movie"},{"id":53,"name":"Thriller"},{"id":10752,"name":"War"},{"id":37,"name":"Western"}]}
series_genre_list=[]
for movie in range(len(tmdb_movies_df)):
    genre_list=[]
    for i in tmdb_movies_df.genre_ids[movie].strip("[]").split(', '):
        if int(i) == 0:
            genre_list.append('none')
            break  
        genre_list.append({d['id']:d['name'] for d in genre_dict["genres"]}[int(i)])
    series_genre_list.append(genre_list)
print(len(series_genre_list))
tmdb_movies_df['genre_list'] = pd.Series(series_genre_list, index=tmdb_movies_df.index)
tmdb_movies_df.head()

26517

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,genre_list
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788,"[Adventure, Fantasy, Family]"
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,"[Fantasy, Adventure, Animation, Family]"
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,"[Adventure, Action, Science Fiction]"
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174,"[Animation, Comedy, Family]"
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186,"[Action, Science Fiction, Adventure]"